.exiting {
    transition: 0.25s;
    opacity: 0 !important;
}

.exiting.left {
    right: 100px !important;
}

.exiting.minimize {
    height: 0;
    margin-bottom: 50px;
}

.entering {
    animation-fill-mode: forwards;
}

.entering.right {
    animation: 0.25s enter-right;
}

@keyframes enter-right {
    from {
        opacity: 0;
        transform: translateX(100px)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes exit-left {
    from {
        right: 0;
        opacity: 1;
    }

    to {
        right: 100;
        opacity: 0;
    }
}

@keyframes exit-minimize {
    from {}
}

@keyframes enter-down {
    from {
        bottom: 100;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}