@font-face {
    font-family: sans-light;
    src: url(assets/fonts/open-sans-light.ttf);
}

html,
body {
    margin: 0;
    background-color: rgb(34, 40, 49);
    font-family: sans-light;
}

.title-bar {
    height: 30px;
    width: 100%;
    background-color: rgb(39, 39, 39);
    -webkit-app-region: drag;
}

.title-bar .btn-container {
    float: right;
    -webkit-app-region: none;
}

.title-bar .title-bar-btn-container {
    display: inline-block;
    height: 100%;
    cursor: pointer;
    transition: 0.2s;
}

.title-bar .title-bar-btn-container:hover {
    background-color: rgb(78, 78, 78);
}

.title-bar .title-bar-btn-container:last-child:hover {
    background-color: rgb(192, 26, 26);
}

.title-bar img {
    width: 40px;
    height: 20px;
    margin-top: 5px;
}

.btn {
    cursor: pointer;
    width: fit-content;
}

.btn-1 {
    padding: 5px 20px 5px 20px;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.15s;
}

.btn-blue {
    background-color: rgb(0, 172, 230);
    color: white;
}

.btn-blue:hover {
    background-color: rgb(0, 116, 155)
}

.btn-dark {
    background-color: rgb(28 28 28);
    color: white;
}

.btn-dark:hover {
    background-color: rgb(39, 39, 39);
}

.btn-sidebar {
    width: 100%;
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 5px 0 5px 0;
    border-radius: 10px;
    transition: 0.25s;
}

.channel-list-item.btn-sidebar {
    border-radius: unset;
}

.channel-container {
    background-color: #2f3538;
    border-radius: 10px;
    margin: 15px;
    padding-bottom: 10px;
}

.btn-sidebar>p {
    margin: 0;
}

.btn-sidebar:hover {
    background-color: rgb(56 60 65);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgb(85, 93, 105);
    border-radius: 10px;
}

#main {
    position: relative;
    width: 100%;
    height: calc(100% - 30px);
    overflow: hidden;
    white-space: nowrap;
}

#game-sidebar-container {
    display: inline-block;
    width: 250px;
    height: 100%;
    background-color: rgb(54, 63, 77);
    color: white;
    padding: 5px;
    box-sizing: border-box;
}

#game-sidebar {
    height: 100%;
    overflow-x: hidden;
}

#game-display {
    display: inline-block;
    width: calc(100% - 250px);
    height: 100%;
    vertical-align: top;
    position: relative;
    left: -4px;
}

#game-display-header {
    width: calc(100% + 2px);
    height: 200px;
    position: relative;
    background-color: rgb(49, 81, 102);
    background-size: cover;
    background-position-y: 25%;
}

.game-sidebar-list-element {
    width: 100%;
    padding: 5px 0 5px 5px;
    cursor: pointer;
    transition: 0.1s;
}

.game-sidebar-list-element>p {
    margin: 0;
    white-space: nowrap;
}

.game-sidebar-list-element.selected {
    background-color: rgb(116, 135, 151);
}

#play-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#header-text-container {
    padding-top: 70px;
    margin: auto;
    width: fit-content;
    position: relative;
}

.header-1 {
    margin: 0;
    font-size: 48px;
    color: white;
    text-shadow: 0px 0px 6px black;
    filter: drop-shadow(0px 0px 8px black);
    /*background-color: #618dcf;*/
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

#create-community-button {
    margin-top: 20px;
    margin-left: 20px;
}

#community-container {
    width: 100%;
    height: calc(100% - 200px);
    background-color: rgb(41, 43, 46);
}

#community-sidebar-all {
    display: inline-block;
    width: 200px;
}

#community-sidebar-container {
    vertical-align: top;
    width: 100%;
    height: 100%;
    background-color: rgb(67 75 86);
    overflow-x: hidden;
    overflow-y: scroll;
    padding-left: 8px;
    box-sizing: border-box;
}

#community-sidebar {
    width: 100%;
    height: calc(100% - 30px);
}

#community-sidebar-header {
    width: 100%;
    height: 50px;
}

.community-sidebar-server-title {
    text-align: center;
    margin: 15px;
    margin-bottom: 25px;
    color: white;
    font-size: 18px;
    background-color: #2c2c2c;
    padding: 10px;
    border-radius: 10px;
}

#community-display {
    position: relative;
    display: inline-block;
    width: calc(100% - 198px);
    height: 100%;
    background-color: #343434;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: scroll;
}

#public-servers-all {
    width: 100%;
    height: fit-content;
    padding: 10px 0 10px 0;
}

#public-servers-list-container {
    height: fit-content;
    max-height: 600px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

#public-servers-list {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(56, 60, 65);
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.server-list-element {
    padding: 10px 0 10px 0;
    margin: 10px 0 10px 0;
    cursor: pointer;
    border-radius: 10px;
    box-sizing: border-box;
    text-indent: 10px;
    width: 100%;
    transition: 0.25s;
    font-size: 14px;
}

.server-list-element:hover {
    background-color: #2a2a2a;
    text-indent: 20px;
}

.server-list-element:first-child {
    margin-top: 0;
}

.server-list-element:last-child {
    margin-bottom: 0;
}

.server-list-element>p {
    margin: 0;
    color: white;
}

#main-community-content {
    padding: 20px 10px 20px 10px;
}

.sidebar-header {
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #536b8d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sidebar-server-header {
    color: white;
    text-align: center;
    font-size: 18px;
    background-color: #506778;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 20px;
}

.sidebar-title {
    color: rgb(255 255 255);
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    height: 100%;
    background-color: #4f78af;
}

.channel-list-item.selected {
    background-color: #417ba1;
}

.chat-container {
    width: 100%;
    height: calc(100% - 60px);
    padding: 10px 10px 5px 10px;
    box-sizing: border-box;
}

.chat {
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
}

.chat-msg {
    color: white;
    margin-top: 20px;
    white-space: normal;
}

.chat-msg>p {
    margin: 5px;
}

.chat-msg:not(.no-title)>p:first-child {
    color: rgb(0, 172, 230);
    font-size: 18px;
}

.chat-msg.no-title {
    margin: 0;
}

.chat-msg:first-child {
    margin-top: 0;
}

.chat-msg:last-child {
    margin-bottom: 0;
}

.chat-box-container {
    width: 100%;
    height: 55px;
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
}

.chat-box {
    width: 100%;
    height: 100%;
    background-color: #444444;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 3px 5px 3px 5px;
}

.chat-box>img {
    width: 25px;
    padding: 0 10px 0 10px;
    height: 100%;
    vertical-align: middle;
    cursor: pointer;
}

.chat-box>input {
    background: none;
    border: none;
    width: calc(100% - 50px);
    height: 100%;
    color: rgb(255, 255, 255);
    outline: none;
    font-size: 16px;
}

.chat-box:focus-within {
    border-bottom: 2px solid rgb(87 120 143)
}

.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    background-color: #31363e;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: 0.5s fade-in-75;
    animation-fill-mode: forwards;
    z-index: 10;
    background-color: black;
}

@keyframes fade-in-75 {
    from {
        opacity: 0
    }

    to {
        opacity: 0.75
    }
}

.overlay-prompt {
    width: 600px;
    height: 350px;
    background-color: #2d4960;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}

.overlay-prompt .prompt-header {
    width: 100%;
    height: 50px;
    background-color: #1c374d;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.overlay-prompt>.prompt-header>p {
    margin: 0;
    font-size: 24px;
    color: white;
    line-height: 50px;
    vertical-align: center;
}

.overlay-prompt .prompt-label {
    color: white;
    font-size: 18px;
    margin: 10px;
}

.min-round {
    border-radius: 5px !important;
}

textarea {
    max-width: 800px;
    max-height: 400px;
}

input.dark-1,
textarea.dark-1 {
    background-color: rgb(26 26 26);
    outline: none;
    padding: 7px 15px 7px 15px;
    color: white;
    border-radius: 15px;
    transition: 0.15s;
    border: 2px solid #7a7a7a;
}

input.dark-1:focus,
textarea.dark-1:focus {
    background-color: rgb(46 46 46);
}

textarea {
    min-width: 200px;
    min-height: 100px;
    transition: background-color 0.15s, width 0s, height 0s !important;
}

.overlay-prompt .prompt-main {
    margin-top: 20%;
    transform: translateY(-50%);
}

.overlay-prompt .input-container {}

.overlay-prompt .input-container input {
    margin-right: 10px;
}

.overlay-prompt .input-container>* {
    display: inline-block;
}

.btn-animated-1 {
    transition: 0.25s;
    padding: 5px;
    cursor: pointer;
}

.btn-animated-1:hover {
    background-color: #2d3336;
    border-radius: 50%;
}

.navbar {
    width: 100%;
    height: 50px;
    background-color: rgb(48 107 147);
    text-align: center;
    position: relative;
    z-index: 3;
    overflow: hidden;
}

.navbar>.nav-btn {
    width: 109px;
    height: 100%;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
    color: white;
    text-shadow: 0 0 7px black;
    transition: 0.1s;
    font-size: 14px;
}

.navbar>.nav-btn:hover {
    background-color: rgb(60, 115, 151)
}

.navbar>.nav-btn.selected {
    background-color: rgb(67 127 167)
}

#posts-container {
    position: relative;
    padding: 30px;
    right: 0;
    opacity: 1;
    height: calc(100% - 110px);
    overflow-y: scroll;
}

#posts-container .post-listing {
    height: 80px;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 20px;
    background-color: #262626;
    overflow-x: hidden;
    cursor: pointer;
    transition: 0.15s;
}

#posts-container .post-listing:hover {
    background-color: #4e4e4e;
}

#posts-container .post-listing-inner {
    height: fit-content;
    padding-top: 5px;
}

.post-listing img {
    width: 40px;
    height: 40px;
    padding: 15px;
    display: inline-block;
}

.post-listing .right-content {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    box-sizing: border-box;
}

.post-listing .right-content>* {
    margin: 0;
}

.post-listing .right-content p:first-child {
    color: rgb(0, 172, 230);
    margin-top: 0;
}

.post-listing .right-content p:nth-child(2) {
    color: white;
}

.post {
    position: relative;
    padding: 35px;
    padding-top: 45px;
    box-sizing: border-box;
    /* opacity: 0;
    animation: 0.25s enter-down;
    animation-fill-mode: forwards;
    animation-delay: 0.25s; */
}

.post .title-container,
.post .body-container {
    position: relative;
    box-sizing: border-box;
    background-color: #262626;
    border: 2px solid #8a94a1;
    border-radius: 10px;
}

.post .title-container {
    z-index: 2;
    max-width: 100%;
    width: fit-content;
    margin-bottom: 15px;
    padding: 10px;
}

.post .title-container p:first-child {
    color: rgb(0, 172, 230);
    margin: 0;
    margin-bottom: 5px;
    font-size: 22px;
    line-height: 22px;
}

.post .title-container p:nth-child(2) {
    color: white;
    margin: 0;
    font-size: 14px;
}

.post .body-container {
    z-index: 1;
    width: 100%;
    padding: 20px;
}

.post .body-container p {
    color: white;
    margin: 0;
    white-space: break-spaces;
    line-height: 26px;
}

.separator {
    margin: 50px 0 50px 0;
    height: 1px;
    width: 100%;
    background-color: #8a94a1;
}

.back-btn {
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.back-btn img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.back-btn>span {
    vertical-align: middle;
}

#create-post-btn {
    background-color: rgb(57 119 141);
    color: white;
    font-size: 100px;
    width: 80px;
    height: 80px;
    position: fixed;
    right: 25px;
    bottom: 25px;
    border-radius: 50%;
    line-height: 76px;
    text-indent: 12px;
    cursor: pointer;
    transition: 0.25s;
}

#create-post-btn .pop-out-text {
    opacity: 0;
    width: 0;
    text-align: center;
    position: relative;
    right: 50px;
    bottom: 66px;
    transition: 0.25s;
}

#create-post-btn .pop-out-text p {
    color: white;
    background-color: #5e5e5e42;
    border-radius: 20px;
    font-size: 14px;
    line-height: 14px;
    padding: 10px;
    width: fit-content;
    text-indent: 0;
    pointer-events: none;
}

#create-post-btn:hover {
    transform: scale(1.2);
    background-color: rgb(74, 153, 182);
}

#create-post-btn:hover .pop-out-text {
    width: 200px;
    right: 150px;
    opacity: 1;
}

#create-post-btn>p {
    margin: 0;
}

.create-post {
    padding: 35px;
    padding-top: 45px;
}

.create-post .title-input {
    margin-bottom: 15px;
}

.create-post .body-input {
    width: 600px;
    height: 400px;
    margin-bottom: 15px;
}

.comments-container {
    margin-top: 50px;
}

.comment {
    border-left: 2px solid rgb(43, 138, 175);
    padding: 5px 0 5px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #3a3a3a;
    box-sizing: border-box;
    /* transition: 0.1s; */
    box-shadow: 0 4px 2px -2px #282828;
    border-top: 1px solid #343434;
}

.comment:hover {
    /* background-color: #535353;
    border-left-width: 4px; */
}

.comment-content>p:first-child {
    color: rgb(88 192 233);
    font-size: 14px;
    margin: 0;
}

.comment-content>p:nth-child(2) {
    color: white;
    font-size: 16px;
    margin: 0;
}

.comment-content .buttons {
    margin-top: 8px;
    color: #838383;
}

.comment-content .buttons>p {
    margin: 0;
    margin-right: 10px;
    cursor: pointer;
    width: fit-content;
}

.comment-content .buttons>p:hover {
    color: #66a9da;
}

.comment-box {
    margin: 10px 0 10px 0;
}